.container-smallCard{
  width: 700px;
  margin-bottom: 15px;
}

.container-smallCardContent{
  display: flex;
  flex-direction: row;
}

.container-smallCardSeparator{
  margin-top: 10px;
}

.smallCard-photo > img{
  width: 200px;
  height: 150px;
  min-width: 200px;
  margin-right: 20px;
}

.smallCard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
