<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png" cardTitle="Cassie desenvolve uma pokedex utilizando pokeAPI!" cardDescription="Cassie está mergulhando no desenvolvimento de uma Pokédex interativa, utilizando suas habilidades em JavaScript, HTML e CSS para extrair dados em tempo real da PokeAPI e proporcionar uma experiência envolvente aos usuários."></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card photoCover="https://thumbs.dreamstime.com/b/little-girl-making-silly-face-27933818.jpg"></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
