
<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card id="1" photoCover="https://static-00.iconduck.com/assets.00/file-type-angular-icon-1907x2048-tobdkjt1.png" cardTitle="Cassie finaliza a primeira versão funcional de seu blog com Angular!" cardDescription="Cassie conclui com sucesso a primeira versão funcional de seu blog, utilizando a estrutura Angular. Sua abordagem habilidosa e dedicação destacam a eficiência dessa tecnologia no desenvolvimento web."></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card id="2" photoCover="https://cdn.icon-icons.com/icons2/851/PNG/512/Pokedex_tool_icon-icons.com_67529.png" cardTitle="Cassie desenvolve uma pokedex utilizando pokeAPI!"></app-small-card>
    <app-small-card id="3" photoCover="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg" cardTitle="Content 3 title"></app-small-card>
    <app-small-card id="4" photoCover="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg" cardTitle="Content 4 title"></app-small-card>
  </div>
</div>
